@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
	height: 20px;
}
::-webkit-scrollbar-track {
	@apply bg-bgColor;
}
::-webkit-scrollbar-thumb {
	@apply bg-gradient-to-br from-accentColor to-white rounded-full;
}

body {
	@apply font-poppin text-white bg-gradient-to-tr from-bgColor to-bgColor/80 dark:bg-gradient-to-tr dark:from-textColor dark:to-white;
}

.container {
	@apply px-5 py-8 md:p-14 lg:px-24 lg:py-16;
}

/* --------Flip Icons------- */
.flip-icon {
	perspective: 1000px;
}
.flip-icon-inner {
	transition: transform 0.5s;
	transform-style: preserve-3d;
}
.flip-icon-front,
.flip-icon-back {
	position: absolute;
	backface-visibility: hidden;
}
.flip-icon-back {
	transform: rotateY(180deg);
}
